<div class="container-fluid">
  <div class="app-container">
    <div class="app-tabs">
      <nav class="nav nav-pills nav-fill m-1vh">
        <a class="nav-item nav-link" [class.active]="currentTab == 'VIEW'" (click)="changeTab('view')">View my Speeches</a>
        <a class="nav-item nav-link" [class.active]="currentTab == 'CREATE'" (click)="changeTab('create')">Submit a new Speech</a>
        <a class="nav-item nav-link" [class.active]="currentTab == 'SEARCH'" (click)="changeTab('search')">Search all Speeches</a>
      </nav>
    </div>
    <div class="app-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>