<article>
  <div class="card speech-details-block">
    <div class="card-body">
      <form [formGroup]="speechForm" (ngSubmit)="submitSpeechForm()">
        <div calss="row">
          <div class="col">
            <textarea class="speach-content" name="text" formControlName="speechContent"></textarea>
          </div>
        </div>
        <div class="row tb-section">
          <div class="col">
            <input type="text" class="form-control" placeholder="Author" formControlName="author">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Subject area keywords" formControlName="subjectKeyword">
          </div>
          <div class="col">
            <input type="date" class="form-control" placeholder="DD/MM/YYYY" formControlName="date">
          </div>
        </div>
        <div class="row tb-section">
          <div class="col-md-10"></div>
          <div class="col-md-2 col-xs-12 ">
            <button [disabled]="!speechForm.valid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</article>

